<div class="main ui container">
  <div class="ui header">
    Platforms
  </div>

  <div class="ui middle aligned selection list">
    <% @platforms.each do |p| %>
      <div class="item">
        <div class="right floated content">
          <% if p.id.to_s == cookies[:instance_id].to_s %>
            <button class="ui button green">Selected</button>
          <% else %>
            <%= link_to "/set_platform/#{p.id}", class: "ui teal small labeled icon button" do %>
              <i class="add icon"></i>Select
            <% end %>
          <% end %>
        </div>

        <div class="content">
          <a class="header"><%= link_to "#{p.url}", p %></a>
          <div class="description"><%= p.description %></div>
          <div class="extra">Created at <%= p.created_at %></div>
        </div>
      </div>
      <% end %>
  </div>
