<div class="ui vertical menu">
  <div class="item">
    <div class="header">Platforms Instances</div>

    <div class="menu">
      <%= link_to "Search", platforms_path, class: "item" %>
      <%= link_to "New", new_platform_path, class: "item" %>
    </div>
  </div>

  <div class="item">
    <div class="header">Collectors</div>

    <div class="menu">
      <a class="item" href="/resources">
        Resources
      </a>

      <a class="item" href="/resources/cetesb_gatherer">
        Fetch Cetesb Data
      </a>

      <a class="item" href="/resources/accuweather_gatherer">
        Fetch Accuweather Data
      </a>

      <a class="item" href="/resources/citybik_gatherer">
        Fetch Citybik Data
      </a>
    </div>
  </div>

  <div class="item">
    <div class="header">Dump Recovery</div>

    <div class="menu">
      <a class="item" href="/dump_recovery">
        Inject dump in a platform
      </a>
    </div>
  </div>

  <div class="item">
    <div class="header">Crons</div>

    <div class="menu">
      <a class="item" href="/cetesb_cron_index">
        Cetesb Cron
        <% if CetesbGathererWorker.cron_running %>
          <i class="green checkmark icon"></i>
        <% else %>
          <i class="remove red icon"></i>
        <% end %>
      </a>

      <a class="item" href="/accuweather_cron_index">
        Accuweather Cron
        <% if AccuweatherGathererWorker.cron_running %>
          <i class="green checkmark icon"></i>
        <% else %>
          <i class="remove red icon"></i>
        <% end %>
      </a>

      <a class="item" href="/citybik_cron_index">
        Citybik Cron
        <% if CitybikGathererWorker.cron_running %>
          <i class="green checkmark icon"></i>
        <% else %>
          <i class="remove red icon"></i>
        <% end %>
      </a>
    </div>
  </div>

  <div class="item">
    <div class="header">Project</div>

    <div class="menu">
      <a class="item" href="https://gitlab.com/sampadashboard/opendoor">
        Source Code
      </a>
      <a class="item" href="https://social.stoa.usp.br/poo2017/grupo-1-suporte-na-plataforma-interscity-e-coleta-de-dados">
        Stoa Page
      </a>
    </div>
  </div>
</div>
